
.menu {

    display: flex;
    width: 20rem;
    justify-content: space-between;
   

}

/* header styles */

nav {

    height: 5rem;
    width: 100%;
    padding: 0 2rem 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button{

    background: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

.on {

    width: 2rem;
    height: 2rem;
}

.off{

    width: 1.8rem;
    height: 1.8rem;

}


.hamburger {
    display: none;
    color: var(--main-color);
    background: none;
    border: none;
    font-size: 1.5rem;
}

@media screen and (max-width: 995px){

    nav{
        padding-left: 2rem;
    }

    .changeBG__btn{
        z-index: 2;
    }

    .hamburger {
        
        visibility: collapse;
        z-index: 2;
        display: flex;

    }

    .menu{

        display: none;
    }

}

body{
    background: #22272e;
    transition: all 0.4s ease-in-out;
    color: white;
}

body.darkmode{

    background: white;
    color: #22272e;
}
